/* Main variable */
@background-btn_default: #e0;
@background-btn_default--hover: #e8;
@color-btn_default: #333;
@color-btn_default--hover: #333;


@background-btn_info: #3b83c0;
@background-btn_info--hover: #458ac6;
@color-btn_info: #fff;
@color-btn_info--hover: #fff;

@background-btn_secondary: #404245;
@background-btn_secondary--hover: #1b1c1d;
@color-btn_secondary: #fff;
@color-btn_secondary--hover: #fff;

@font-size--small: 10px;
@line-height--small: 20px;
@padding--small: 2px 4px;

@font-size--standart: 14px;
@line-height--standart: 20px;
@padding--standart: 6px 12px;

@font-size--big: 18px;
@line-height--big: 20px;
@padding--big: 10px 16px;

/* Main styles */
html, body {
  margin: 0;
  padding: 0;
}

